@model Insurance.Web.Mvc.Models.PolicyViewModels.PolicyCoverageTypeListViewModel

@{
    ViewData["Title"] = "Coverage Types";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PolicyCoverageTypes) {
        <tr>
            <td>@Html.DisplayFor(m => item.Id) </td>
            <td>@Html.DisplayFor(m => item.Description) </td>
        </tr>
}
    </tbody>
</table>
